* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* loading */
.mc-dialoger-loading, .mc-dialoger-toast,.mc-dialoger-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.mc-dialoger-loading .box{
    width: 100px;
    height: 100px;
    padding: 18px 10px 10px 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    text-align: center;

    -webkit-animation: zoomIn .15s ease forwards;
    animation: zoomIn .15s ease forwards;
}
/*loader skin 1*/
.loader {
    width: 40px;
    height: 40px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-top-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    -webkit-animation: loader-rotate 1s linear infinite;
    animation: loader-rotate 1s linear infinite;
}

@-webkit-keyframes loader-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0); }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); }
}

@keyframes loader-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0); }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); }
}
/*loader skin 2*/
.loader-ball-pulse {
    height: 45px;
    padding-top: 10px;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.loader-ball-pulse > div:nth-child(1) {
    -webkit-animation: ball-pulse-scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
    animation: ball-pulse-scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.loader-ball-pulse > div:nth-child(2) {
    -webkit-animation: ball-pulse-scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
    animation: ball-pulse-scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.loader-ball-pulse > div:nth-child(3) {
    -webkit-animation: ball-pulse-scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
    animation: ball-pulse-scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.loader-ball-pulse > div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

@-webkit-keyframes ball-pulse-scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }
    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes ball-pulse-scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }
    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.mc-dialoger-loading .text{
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Alert */
.mc-dialoger-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.popup{
    width: 50%;
    background-color: #FAFAFA;
    border-radius: 2px;
    font-size: 15px;
    -webkit-animation: zoomIn .15s ease forwards;
    animation: zoomIn .15s ease forwards;
}
.popup .title{
    text-align: center;
    color: #666;
    font-size: 14px;
    white-space: nowrap;
    padding-top: 15px;
}
.popup .text{
    text-align: left;
    padding: 0 20px;
    font-size: 14px;
    color: #888;
    line-height: 20px;
    word-break: break-all;
    padding-top: 14px;
}
.popup .foot{
    position: relative;
    line-height: 40px;
    margin-top: 14px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.popup .foot:after{
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.popup .foot .button{
    position: relative;
    text-align: center;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 2px;
    cursor: pointer;
}
.popup .foot .button:last-child {
    color: #0BB20C;
}
.popup .foot .button:not(:last-child):after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 1px solid #D9D9D9;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}
.alert-poput .text{
    text-align: center;
    padding: 20px 20px 0 20px;
}
@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

/* Toast */
.mc-dialoger-toast .toast{
    padding: 14px 30px;
    max-width: 65%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 4px;
    -webkit-animation: zoomIn .06s ease forwards;
    animation: zoomIn .06s ease forwards;
}
.mc-dialoger-toast .toast-icon{
    width: 150px;
    height: 150px;
    padding: 20px;
}
.mc-dialoger-toast .toast .icon{
    display: inline-block;
    margin-bottom: 20px;
}
.mc-dialoger-toast .toast .icon.success{
    width: 43px;
    height: 35px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABSCAMAAACVH4HWAAACH1BMVEX////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9O2oTAAAAtHRSTlMAAQIEBQYHCAkKCw0ODxAREhQVFhcYGRobHB0gISIkJSYnKCkqKy4vMDM1Nzg5Ojw+QEJDREZHSElKTE9VVldYWltdXl9gYWJlZmdoaWprbG5zd3h6e3x9fn+AgoOFhoiJiouNjpCSlJWYmZqbnJ2eoKKjpKaoqausrq+wtLa3ubq7vL2+wcLFxsfIy83Oz9DR0tPV19jZ2tvc3d7f4OHm5+jp6uvs7e7v8PL19/j5+vv8/f6CNheHAAACzElEQVQYGbXBCVtMUQAG4G9KJUok2cmSCNkqIbIURbRIlrIrRAhZUgoJpc1ehKK0yGR8P9CD1F3O3Lkzc877QqlFJTV7A6BUeMkgyYYYKBT3ln81h0CZjYMcVQJVNo/wvyoospvjjkGNPI57MRFKFFNjH5Qoo8YdKFFJjTdhUCD0PjU+L4MC0Y3UcG6AAvM6qbUNCqz4QK0jUGD1ELUuQ4HkAWrVTYB8O35Rqy0c8uVQp38J5DtFneFEyFdGvQxI57hDvQJIN/Eu9cohXVgT9aoh3bwm6rVMg2yxPdTrnQvZ1vdSz5UC2Tb/oMF2yJZBowLIlkOjS5DtEI3qIdtZGrXMgFwBN2j0aT7kCrpHI1ci5Ip+QpNMWAieG+WAdyLbaVIE9yafeD3wpX4LvLH8PU0uwL0FzfzrSjBsS/hKkzoH3Apq5aj2xbBpk5Mm7dPg3n6O6U+BLalOmnTHwcJNapyGDbk0+5kAK1epdXsKPMmjQBYsZVDnXQysXaBAPqxFfqRO31ZYuUaBCnhykAZH4VZoDQVq4Nl9GlSFQSy8gQKdEfBszhcadKyCyMwWCnyMhR2pNBpOhdnCVxRwrYc952hS6oBBfC9FdsGmwGc0eRQFnaQBihTDtqW9NOlaCY2dFLoCL2TQ7HsmxhygUHUAvFFCgVKMKqTQyzB4JeQpBR7OwR9nKNQXBy/F9VOgJwFAOYWcSfBaGoXSUUmxHfDBRYoMtI5Q6DB8EdJIL1yHb5YN0bb6YPgom3Y9j4DPymlPfwx8N+kN7XBthD/WOWnDHvgni54Vwl+V9OQq/BbeTGu1kCB+hFZaoiFDLi18i4EcFXQvGZJM7aA76ZAmmW4UQaJ8CpVDqloKPA6EVLM6adI2HZIl0ag7FtIVUc+1FgrcpU42VJjdRY3jUGMDx12EKof4X50DyhTzn4YIKJTWTdJ1MghKzTj/4NYa+Os3kb93+haplFoAAAAASUVORK5CYII=') no-repeat;
    background-size: 43px 35px;
}
.mc-dialoger-toast .toast .icon.error{
    width: 35px;
    height: 35px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAMAAABHPGVmAAACWFBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+SCbtoAAAAx3RSTlMAAQIDBAUGBwgKDA4PEBESExQVFhcYGRobHB4fICEiIyQlJikqLC0uLzAxMjM0NTY3ODo7PD0/QEFCREVGSElLTE1OT1BRUlNUVVlaW1xdXl9iY2RlZ2hpamttbnBxc3R1dnh5fYCBhIeIiouMj5CRk5SVlpeYmZqbnJ2eoKGjpKaoqaqrrLCxsrS1tre4ubq8vb7AwsPFxsfIycrOz9HS09TV1tjZ2tvd3t/g4uPk5efo6err7e7v8PHy8/T19vf4+fr7/P3+xMlmOwAABJZJREFUGBntwf1jTWUAB/Dv2d2u7W5ZjcXMYuJWGFuaSFmW0SIKIRkaFauksCQieemFNBOmWKWZl43ptnXNLp3tOt9/K8bmPM9z7rnnnHv6zeeDhx56yI3w2TVB/M9md5OtVfBLKBeqVXHedbIMfgiu7KiHLH0b7zPqhyJVaa+1kn3FEOX8yAeuLUBqnv+Vd30NQdHvFBwdA+9G7ec9RgnMPqPk5to0eBOsjXHAUQhqein5eQy8KD9Hk3IIpl2hpGe5Breytxs02TYEorxjlB0eAXdmtdEk9joUgTrKIrPhQqjeoEnLBFhZcJMS48MMODWlhWYHs2FtUhtlp4vgSNr6XpoY72lIZNhxyqJz4cCoRpp1vwIbwS8oMz4IIJmKTpq1joe9dXHKDufCVmCTQbPGXCQzt4eyC8/ARv4xCnZkILnJHZTFqpFQeQfNbq+DI4V/UGZs0GBteS/NeirhUO5xKvZmwkLGdgquTYVjmQeoOJkPRd5xClqegAtpn1BxeTwk4csUnHgU7tQalHWVQ/BSNwXfZsKtZXHKbs2HyfI+Cr5Kh3vVOmW338GAtDqKtmjwYlYPFZs09Ms8QNH78Kisi4rPA7jjkUYKjNXwbOLfVOwLAo+fpSD+BlIwvoOKI1njLlHw71ykZFwbFb9EKLgxEykafZFJXJ+GlBVepK1oGXxQeJE2/pkCXxReYkJdk+CTwktMIDoZvilqp6XoVPiouIMWup+FryZEqKqGzyZGqWh+DD77iKrTOfDVUoMWGrPgo0VxWvo+CN/MjzOBbwLwSYXOhL7U4IsXbtHGx/BDeYy2apG6iVHaMxYiVcURJqPPRGoK2imKtFPRU4pU5J2jKFYa7qYiMhbeZTVRZMwDKuNUtObBq2ADJbW4YyVVTVnwRttDyTb020rVoQA82UhJQxD9AoeoqoMXtZT8loP7cpqpWgH3FhoUdY7FoNERKuKVcGumTlF8Fkxm9FHRHYY74SglNRCsoqp9JNwoaKdkFyQ7qWrKgnM5zZQ0DYEkeIqqvRqcCjZQcnUkFCOuULUBDml7KOl9Dham6VQY1XBmI2U1sFRDVawETqygbL8GS9p+qtqHI7nKOCUt2Uggu4WqE0EkUxqjJBZGQuEYVTuQRFGEskWwsZgW3oatnGbKdsHWbqr06bARbKDszxBshc5TFSlEQtoeyvRJSGKyTtWZLCSykYrVSGoNLezTYG0FFd9pSEo7QgvrYakyTlnHMDgw/C+q4hWwUBqjzKiAI1W0EH0SirERKurh0G5aaM2FpKCVigshODS0nRYaAhDkNFNhTIdjLxq08CnMQiep2gwXttLKW3ggq5GqyyG4EGqjBX0GBh2ihdlw5WWq+jY/jUFTrlKxFy7to+xCGcwKzlDSOQwu5XdR9EM2RKGDFC2Ba8so2BKALK2OZqc0uKad4gPGGlhZqnPQ7RJ4UGJwQHwJrE3v5ICd8GQX79OrkUhxC++5ng9P8q+znz4PiQ39if3WwqN3eZdeBTsZO3hHWyY8ymwjqVchiZo4uQSevUnqVUhqzo3WdHiWfj7+Khx4ag5SsGgxVP8B5afAD5V2CgcAAAAASUVORK5CYII=') no-repeat;
    background-size: 35px 35px;
}

/* Notify */
.mc-dialoger-notify{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    line-height: 35px;
    z-index: 1500;
    font-size: 14px;
    color: #FFF;
    padding: 3px 25px;
    letter-spacing: 1px;
    opacity: 0;
    -webkit-animation: downIn .2s linear forwards;
    animation: downIn .2s linear forwards;
    word-break: break-all;
    text-align: center;
}
.mc-dialoger-notify.notify-out {
    opacity: 1;
    -webkit-animation: upOut .15s linear forwards;
    animation: upOut .15s linear forwards;
}
@-webkit-keyframes downIn {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -50px, 0);
        transform: translate3d(0, -50px, 0);
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes downIn {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -50px, 0);
        transform: translate3d(0, -50px, 0);
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes upOut {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -50px, 0);
        transform: translate3d(0, -50px, 0);
    }
}
@keyframes upOut {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -50px, 0);
        transform: translate3d(0, -50px, 0);
    }
}

/* Modal */
.mc-dialoger-modal{
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}
.mc-dialoger-modal .modal-box{
    width: 80%;

    background-color: #fff;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}
.mc-dialoger-modal .title{
    height: 50px;
    line-height: 50px;
    background-color: #f6f6f6;
    white-space: nowrap;
    padding-left: 20px;
}
.mc-dialoger-modal .body{
    padding: 20px;
    min-height: 300px;
}
.mc-dialoger-modal.show{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.mc-dialoger-modal.show .modal-box{
    -webkit-animation: zoomIn .15s ease forwards;
    animation: zoomIn .15s ease forwards;
}
.mc-dialoger-modal .close{
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAFPUlEQVRoQ92aXWhcRRTHz5kgSZtqsVLBCG0IC7I7t6ipSEXRRz/wxYIi2r61xSpiC9W20CZtQBtroUWkEuOTbfRB1KcKfbRihUJtIXPuklhKxBIRBY02rZuS+cuEu8vdj2Tv3L1JafdlYXfOf85vztyZM2cu023y4duEgzIF0VqvsNZuUEo9RkSPMvOdbqAA/APgilLqSvT9i7X2vIhczWogWwbJ5/NrmfkVpdRGAL3MrJI4B8Ay8wVr7VdKqZPGmF+T2M3XJjWI1rrAzH0AXmLm1DpRxBzUlzdu3OgfGxsbSwPk7YCLgFLqIBFtTjr6Ho7NAjhCRH0iMuNh5/eMaK2fZuaviWi5Tye+bQEUAbwYhqEktU0ckSAItgP4aBGi0NBXACUAb4VhOJQEJhGI1no/Mw8kEVyENgeMMW4qL/hpCqK1PsTMe5oJLeb/AN4VkX0L9bEgiNb6HWZ+fzGdTKoNYLeIHPZefrXWjxPRmaV6JpoBuX2HiJ4UkR8atW0YkZ6enpXLli0rMvN9zTpYyv8BTJZKpZ5Lly6VavttCKK1HmbmLUvppEdfB40xB5qCFAoFzcyjre7WHo75Nr02MzOzdnx8/M+4YV1EtNZfMPPLvupL2R7AoIjsnRdk3bp1dwP4g4jaPB07C2CKmZ/1tDtFRPcQ0QYfOwD/Tk9P3zsxMfFf2a4qIlrrLcw87Cl6UUQedjZa6x3MfDSh/evGmI8juwvM/FBCu7lm1tpNYRiOzAfybYpR/ckYs74smAQGwE4RORazucjMD/qAENEpY8zzdSC5XK69vb3dTY92T0F3cDomIjuTwDSAOMrMO1L0eVVEVrrgONvK1NJaP8HM3/sKlts3gNnDzIfiellBlDWttb1hGF6oBdnKzJ+kBXF2tTBBEPQT0dyaD2CviAzGopYqEnH/rLWvhmH4eS3IIDPvbgUkcrhqaXRJJxFN1UBkkogCGBARN1hVU2uImbe1CtIIJq6ZZTYN4LiIvFELMuKKCFmARBp1qYTW+qA752fYhytabK4CCYLgBBFtyrCTmwbiNqfXsgBplELEHvJMno9Ib8gYM+dzfPkdYOb9rYLUQriVy52/s16xomfxsIjMLVAVkCAI3Fz7rBWQhfaSxVh+AWwTkbmUqgKSz+d729razqcFuRkb4uzs7FPFYvFMFQgRKa313+V6rQ9QKylKoVA4rpTa7tNfNK1KpVJpZfm0WJX9BkHg0urnfEQBVLJfZ5cyafTOfgGcFpFnyr7WgqR5TirZbxKI2CDF03jv7BfAVhH5tCFId3d3R2dn5+/MfJdPVIholIhcQeARHzsA55jZlV8DHzsimmXm1aOjo381BHE/BkHwHhFVHSM9O1mK5iPGmKrNu+7MnsvlVnd0dEwsdqE6LS1cgcvaB4rF4s9xjfnKQVnnRGn9rrMDMCwidcltQ5Curq7lq1atGiei+zPzIAMhAL9dv349f/ny5alauXlrv+7ESETf3dIl01iCd+sXscswQRB8QES7MpgZrUgcMca8vZBA0/uRaEmunL1b8SaNLYB+EWl6yZQIJIJxef+HRHRHGod8baJrhDdF5HgS28QgUR7limiuNpxPIt5Cm2sANorI6aQaXiBONCrkuVDvynpFi6Jwkpn3+b5A4A0SWwRcVA64a+RWryDcbh29MNC3ZC8M1IZaa72GmV3e84LPKxwu8SMiVyX8hohO+EYg8YaYdG7G27mXapRS6621a4loDYAupdQaIlrh2rnrACI6Z639cWpq6uzk5OS1NP00skk9tbJyICud2wbkf+hPlVEYwzWaAAAAAElFTkSuQmCC');
    background-size: 100%;
    position: absolute;
    right:  10px;
    top: 10px;
}