.search_tab {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #52a0ea;
    margin-top: 40px;
}

.search_tab li {
    width: 120px;
    height: 48px;
    background-color: #FF8800;
    font: 18px/50px "microsoft yahei";
    border-radius: 1px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.search_tab li:hover {
    background-color: #FF0000;
}

.crumbs {
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    border: solid 1px #00BFFF;
    padding: 13px;
    font-size: 16px;
    margin-bottom: 30px;
}

.crumbs div {
    float: left;
}

.crumbs a {
    color: black;
}

.search_word {
    color: red;
}

.total_search_book_count {
    padding-left: 20px;
}

.shoplist {
    /*border: 2px solid #E0E0E0;*/
}

.shoplist .product_list {
    display: inline-block;
    height: 350px;
    width: 300px;
    position: relative;
    background: #fff;
    border: 1px silver solid;
    padding: 30px;
    margin-right: 38px;
    margin-left: 39px;
    margin-bottom: 20px;

}

.shoplist li:hover {
    background-color: #F8F8F8;
}

.shoplist li .name {
    /*position: absolute;*/
    /*left: 260px;*/
    /*top: 21px;*/
    line-height: 20px;
    height: 20px;
    width: 400px;
    overflow: hidden;
    font-size: 18px;
    padding: 0px;
    margin-top: 15px;
}

.shoplist li .price {
    /*position: absolute;*/
    /*left: 260px;*/
    /*top: 48px;*/
    font-family: "arial";
    line-height: 30px;
    width: 200px;
    text-align: center;
}

.search_now_price {
    color: #FF2832;
    font-size: 18px;
    font-weight: bold;
    padding-right: 10px;
}

.shoplist li .search_book_author {
    font-size: 16px;
    position: absolute;
    left: 285px;
    top: 70px;
    color: #787878;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
}

.shoplist li .detail {
    position: absolute;
    left: 280px;
    top: 130px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    color: #333;
    width: 720px;
    font-size: 14px;
}

.shoplist li .bottom_p {
    /*position: absolute;*/
    left: 280px;
    top: 193px;
    text-align: center;
    margin-top: 5px;
}

.search_btn_cart {
    width: 100px;
    height: 28px;
    line-height: 28px;
    background: #ff2832;
    border-radius: 3px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    color: #fff;
    text-align: center;
    font-family: 'Microsoft Yahei';
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}

.search_btn_cart:hover {
    background-color: #FF0000;
    color: #FFFFFF;
}

.search_btn_collect {
    width: 80px;
    height: 28px;
    line-height: 28px;
    background: #FFEDEE;
    color: #ff2832;
    border: 1px solid #ff2832;
    display: inline-block;
    *display: inline;
    zoom: 1;
    border-radius: 3px;
    text-align: center;
    font-family: 'Microsoft Yahei';
    font-size: 14px;
    margin-right: 10px;
}

.search_btn_collect:hover {
    background-color: #ffC8EE;
}

.product_name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 260px;
    display: inline-block;

}