<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/cart.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bs.css}"/>
    <link rel="stylesheet" th:href="@{/css/mc-dialoger.css}"/>
    <link rel="stylesheet" th:href="@{/js/sweetalert2/sweetalert2.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dialoger.js}"></script>
    <script type="text/javascript" th:src="@{/js/domlastic.js}"></script>
    <script type="text/javascript" th:src="@{/js/sweetalert2/sweetalert2.all.min.js}"></script>
    <script type="text/javascript">

        /**
         * 解决ajax异步带来的问题
         * @param d
         */
        function sleep(d) {
            var t = Date.now();
            while (Date.now - t <= d) ;
        }

        function checkOrNot(bookId, unitPrice, obj) {
            $.post(
                "cart/checkOne",
                {"bookId": bookId},
                function (data) {
                    if (data.code == 200) {
                        //当前购物项
                        var $cartItem = $("#cart_item" + bookId);

                        var $buy_num = $cartItem.find(".buy_num");
                        var num = parseInt($buy_num.val());
                        var $subTotal = $cartItem.find(".subTotal");
                        var $shopTotal = $(".shop_total");
                        var shop_total_text = $shopTotal.text().trim();

                        if ($(obj).is(":checked")) {
                            var subTotal = unitPrice * num;
                            $subTotal.text(subTotal);

                            var shop_total = (parseFloat(shop_total_text.substring(shop_total_text.indexOf("￥") + 1)) + subTotal).toFixed(2);
                            $shopTotal.text("￥" + shop_total);
                        } else {
                            var subTotal = (unitPrice * num).toFixed(2);
                            var shop_total = (parseFloat(shop_total_text.substring(shop_total_text.indexOf("￥") + 1)) - subTotal).toFixed(2);
                            $subTotal.text("0.00");
                            $shopTotal.text("￥" + shop_total);
                        }
                    }
                },
                "json"
            );
        }

        //点击增加购买书本的数量，并计算小计和总数
        function add(id, unitPrice) {
            var $cartItem = $("#cart_item" + id);
            // if (!$($cartItem).find(".shop_checkbox").prop("checked")) {
            //     $($cartItem).find(".shop_checkbox").prop("checked", true)
            // }

            var $checkbox = $($cartItem).find(".shop_checkbox");
            var buyNum = $("#buyNum" + id).val();
            $("#buyNum" + id).val(parseInt(buyNum) + 1);

            $("#subTotal" + id).html((Math.floor((parseInt(buyNum) + 1) * unitPrice) * 100) / 100);

            if ($checkbox.prop("checked")) {
                $("#all_total").text(unitPrice + parseFloat($("#all_total").text()) + "￥");
            }
            totalAjax(id);
        }

        //点击减少购买书本的数量，并计算小计和总数
        function sub(id, unitPrice) {
            var $cartItem = $("#cart_item" + id);
            // if (!$($cartItem).find(".shop_checkbox").prop("checked")) {
            //     $($cartItem).find(".shop_checkbox").prop("checked", true)
            // }
            var $checkbox = $($cartItem).find(".shop_checkbox");
            var buyNum = parseInt($("#buyNum" + id).val());
            var subTotal = parseFloat($("#subTotal" + id).html());
            var allTotal = parseFloat($("#all_total").html());
            if (buyNum != 1) {
                $("#buyNum" + id).val(buyNum - 1);
                $("#subTotal" + id).html((Math.floor((parseFloat(buyNum) - 1) * unitPrice) * 100) / 100);
                if ($checkbox.prop("checked")) {
                    if (allTotal > 0) {
                        $("#all_total").text((parseFloat($("#all_total").text()) - unitPrice).toFixed(2) + "￥");
                    } else {
                        $("#all_total").text(0 + "￥");
                    }

                }
                totalAjax(id);
            }
        }

        // 计算总数的ajax
        function totalAjax(id) {
            $.ajax({
                type: "post",
                url: "/product/cart/addOrSub",
                data: {id: id, amount: $("#buyNum" + id).val()},
                dataType: "json",
                success: function (data) {
                    $("#total").html(data)
                }
            });
        }

        //计算总金额
        function checkTotal(id) {
            if (id) {
                var $cartItem = $("#cart_item" + id);
                var $checkbox = $($cartItem).find(".shop_checkbox");
                var subTotal = parseFloat($("#subTotal" + id).html());
                var allTotal = parseFloat($("#all_total").html());
                if ($checkbox.prop("checked")) {
                    $("#all_total").text((subTotal + allTotal).toFixed(2) + "￥");
                } else {
                    if (allTotal - subTotal > 0) {
                        $("#all_total").text((allTotal - subTotal).toFixed(2) + '￥');
                    } else {
                        $("#all_total").text(0 + '￥');
                    }
                }
            } else {
                var allSubTotalVal = $(".cart_item .subTotalTd .subTotalVal");
                var countSubTotal = 0;
                allSubTotalVal.each(function (i, domEle) {
                    countSubTotal = countSubTotal + parseFloat($(domEle).text());
                });
                $("#all_total").text(countSubTotal.toFixed(2) + '￥');
            }

        }

        function deleteCartItem(id) {
            var $cartItem = $("#cart_item" + id);
            Swal.fire({
                title: '确定删除这个商品?',
                text: "不在考虑考虑吗？",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '确定',
                cancelButtonText: '取消'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "post",
                        url: "/product/cart/delete",
                        data: {id: id},
                        success: function (data) {
                            if (data == true) {
                                dialoger.$toast({mes: '移出成功！！'});
                                domLastic.init({
                                    itemsClassnameToConnect: 'cart_item', //类选择器
                                    itemsJointStrength: 10, //value optimum between 10 - 100
                                    animationSpeed: 500, //value optimum 300 - 1000 动画速度
                                    animationIntensity: 0.6, //value optimum optimum 0.5 - 1
                                    animationDirection: 'horizontal', //动画方向
                                    callback: function () {
                                        console.log('anim finished');
                                    }
                                });
                                domLastic.animateItems();
                                $($cartItem).slideToggle(150, function () {
                                    $($cartItem).remove();
                                    //aniamte ListItems
                                    domLastic.animateItems();
                                });
                            }
                        }
                    })
                }
            });
        }


        function submitOrder() {
            var pIdStr = "";
            var count = 0;
            var cks = document.getElementsByName("cks");
            for (var i = 0; i < cks.length; i++) {
                if (cks[i].checked) {
                    pIdStr = $(cks[i]).attr("id") + "," + pIdStr;
                    count++;
                }
            }

            if (count == 0) {
                dialoger.$toast({mes: '请选择商品', timeout: 1000});
            } else {
                $.ajax({
                    method: "post",
                    url: "/order/details",
                    data: {pIdStr: pIdStr},
                    dataType: "json",
                    success: function (data) {
                        if (data == true) {
                            window.location.href = "/order/details?source=cart";
                        } else {
                            dialoger.$toast({mes: '提交订单出错啦', timeout: 1000});
                        }
                    }
                });
            }
        }

        $(function () {
            $("#checkAllProduct").click(function () {
                var isCheck = $("#checkAllProduct").prop("checked");
                if (isCheck) {
                    $("#cart_table input[name='cks']").prop("checked", true);
                    checkTotal();
                } else {
                    $("#cart_table input[name='cks']").prop("checked", false);
                    $("#all_total").text(0 + '￥');
                }
            });
            $("#cart_table input[name='cks']").click(function () {
                var allCheck = $("#cart_table input[name='cks']");
                var isAll = true;
                allCheck.each(function (i, domEle) {
                    isAll = isAll && $(domEle).prop("checked");
                });
                $("#checkAllProduct").prop("checked", isAll);
            })
        });

        function deleteAll() {
            var allCheck = $("#cart_table input[name='cks']");
            var ids = [];
            allCheck.each(function (i, domEle) {
                if ($(domEle).prop("checked")) {
                    ids.push($(domEle).attr("id"));
                }
            });
            Swal.fire({
                title: '确定删除所有?',
                text: "不在考虑考虑吗？",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '确定',
                cancelButtonText: '取消'
            }).then((result) => {
                if (result.value) {
                    $.post("/product/cart/deleteAll", {idStr: JSON.stringify(ids,)}, function (data) {
                        if (data.success) {
                            window.location.reload();
                        } else {
                            Swal.fire(
                                '删除失败!',
                                '服务器可能出错了',
                                'warning'
                            )
                        }
                    })
                }
            })
        }
    </script>
</head>
<body>
<div th:insert="~{top ::top}"></div>
<div class="container">
    <!--
        购物车头部
    -->
    <div class="row" style="padding-left: 100px;">
        <!--        <img src="img/2018102616575937187.jpg" alt="广告"/>-->
    </div>
    <div class="row cartheader">
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 img_div">
            <!--            <a href="index.html" target="_blank"><img th:src="@{/images/dd.jpg}" width="90%" alt="dd.com"/></a>-->
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 cart_text_div">
            <span class="cart_text_span">购物车</span>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 process">
            <span class="cart_text" id="this_process">我的购物车</span>
            <span class="cart_text">填写订单</span>
            <span class="cart_text">完成订单</span>
        </div>
    </div>
    <div class="clear"></div>

</div>
<div style="height: 3px; background-color: #ff2832;"></div>

<div class="container">

    <!--
        购物车主体
    -->

    <div th:if="${carts.size()==0}" class="row">
        <h1 class="h1">亲，您的购物车为空，<a href="/">再逛一逛吧!</a></h1>
        <img src="/images/cartNothing.jpg" alt="您的购物车为空">
    </div>


    <div th:if="${carts.size()!=0}" class="row" id="cart_table_div">
        <table id="cart_table">
            <thead>
            <tr id="table_head">
                <th width="10%">
                    店铺全选
                </th>
                <th class="labelCenter" width="30%">商品信息</th>
                <th class="labelCenter" width="10%">单价（元）</th>
                <th class="labelCenter" width="10%">数量</th>
                <th class="labelCenter" width="10%">小计（元）</th>
                <th class="labelCenter" width="10%">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="shop_intro">
                <td class="tcol1">
                    <input id="checkAllProduct" type="checkbox" class="select_all_oneShop"/>
                    <span>全选</span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!--                <c:forEach items="${cart.cartItems}" var="cartItem">-->

            <tr class="cart_item" th:id="'cart_item'+${cart.id}" th:each="cart:${carts}">
                <td class="tcol1 labelCenter">
                    <!--                            ${cartItem.value.checked?'checked':''} onchange="checkOrNot(${cartItem.value.bookInfo.bookId},${cartItem.value.bookInfo.price},this)"-->
                    <input name="cks" type="checkbox" class="shop_checkbox" th:id="${cart.id}"
                           th:onclick="|checkTotal(${cart.id})|"/>
                </td>
                <td class="labelCenter">
                    <a th:href="'/product/info/'+${cart.id}"><img th:src="${cart.PImg}" width="20%"/></a>
                    <a th:href="'/product/info/'+${cart.id}">
                        <span th:text="${cart.getPName()}"
                              style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 260px;display: inline-block;"></span>
                    </a>

                </td>
                <td class="labelCenter">
                    <span class="red" th:text="'￥'+${cart.getRealPrice()}"></span>
                </td>
                <td class="labelCenter">
                    <div class="num">
                        <input type="text" disabled class="buy_num" th:id="${'buyNum'+cart.id}"
                               th:value="${cart.amount}"/>
                        <a href="javascript:void(0);" class="num_add"
                           th:onclick="|add(${cart.id},${cart.realPrice})|">+</a>
                        <a href="javascript:void(0);" class="num_sub"
                           th:onclick="|sub(${cart.id},${cart.realPrice})|">-</a>
                    </div>
                </td>
                <td class="labelCenter subTotalTd">
                    <span class="red subTotal">￥</span>
                    <span class="red subTotalVal" th:id="${'subTotal'+cart.id}"
                          th:text="${cart.realPrice.multiply(cart.amount).setScale(2)}"></span>

                </td>
                <td class="labelCenter">
                    <button class="delete_btn" th:onclick="|deleteCartItem(${cart.id})|">
                        删除
                    </button>
                </td>
            </tr>
            <tr class="tfoot">
                <td class="tcol1">
                    <span>店铺合计	</span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <span id="total" class="red shop_total" th:text="${totalPrice.setScale(2)}"></span>
                    <span class="red">￥</span>
                </td>
            </tr>

            </tbody>

        </table>
    </div>

    <!--
    去结算div
    -->
    <div class="row account_div">
        <div id="batch">
            <a href="javascript:deleteAll();">清空购物车</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="" style="font-size: 20px;color: #000000">继续购物</a>
        </div>
        <div id="shopping_total">
            <p class="total_p">
                <span>总计：</span>
                <span id="all_total">
                        0￥
                </span>
            </p>
            <a href="javascript:void(0);" class="total_btn" onclick="submitOrder()">填写订单</a>
        </div>
    </div>
    <!--    </c:if>-->

</div>
<div class="clear"></div>
</body>
</html>