<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户登录</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/bs.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<section>
    <!-- 背景颜色 -->
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="box">
        <!-- 背景圆 -->
        <div class="circle" style="--x:0"></div>
        <div class="circle" style="--x:1"></div>
        <div class="circle" style="--x:2"></div>
        <div class="circle" style="--x:3"></div>
        <div class="circle" style="--x:4"></div>
        <!-- 登录框 -->
        <div class="container">
            <div class="form">
                <h2>登录</h2>
                <form method="post" action="/user/login">

                    <div class="inputBox">
                        <input type="text" name="username" placeholder="用户名">
                    </div>

                    <div class="inputBox">
                        <input type="password" name="password" placeholder="密码">
                    </div>

                    <div class="inputBox">
                        <input type="submit" value="登录">

                    </div>
                    <p class="forget">没有账号，现在注册<a href="/user/register">
                        注册
                    </a></p>
                    <p class="forget">返回主页<a href="/">
                        点击这里
                    </a></p>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>