<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/cart.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bs.css}"/>
    <link rel="stylesheet" th:href="@{/css/mc-dialoger.css}"/>
    <link rel="stylesheet" th:href="@{/css/orderInfo.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-confirm.css}">

    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dialoger.js}"></script>
    <script type="text/javascript" th:src="@{/js/domlastic.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-confirm.js}" ></script>

    <script>
        function confirmReceiving(id) {
            var $completeItem = $("#complete" + id);
            $.confirm({
                title: '确认',
                content: '您确认收到商品了？',
                type: 'green',
                buttons: {
                    ok: {
                        text: "确定",
                        btnClass: 'btn-success',
                        keys: ['enter'],
                        action: function () {
                            $.ajax({
                                method: "post",
                                url: "/order/completeOrder",
                                data: {id: id},
                                dataType: "json",
                                success: function (data) {
                                    if (data==true){
                                        domLastic.init({
                                            itemsClassnameToConnect: 'cart_item', //类选择器
                                            itemsJointStrength: 10, //value optimum between 10 - 100
                                            animationSpeed: 500, //value optimum 300 - 1000 动画速度
                                            animationIntensity: 0.6, //value optimum optimum 0.5 - 1
                                            animationDirection: 'horizontal', //动画方向
                                            callback: function () {
                                                console.log('anim finished');
                                            }
                                        });
                                        domLastic.animateItems();
                                        $($completeItem).slideToggle(150, function () {
                                            $($completeItem).remove();
                                            //aniamte ListItems
                                            domLastic.animateItems();
                                        });
                                    }

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "取消"
                    }
                }
            });
        }

        function cancelOrder(id) {
            var $cancelItem = $("#cancel" + id);
            $.confirm({
                title: '确认',
                content: '您确认要取消订单？',
                type: 'red',
                buttons: {
                    ok: {
                        text: "确定",
                        btnClass: 'btn-danger',
                        keys: ['enter'],
                        action: function () {
                            $.ajax({
                                method: "post",
                                url: "/order/cancelOrder",
                                data: {id: id},
                                dataType: "json",
                                success: function (data) {
                                    if (data==true){
                                        domLastic.init({
                                            itemsClassnameToConnect: 'cart_item', //类选择器
                                            itemsJointStrength: 10, //value optimum between 10 - 100
                                            animationSpeed: 500, //value optimum 300 - 1000 动画速度
                                            animationIntensity: 0.6, //value optimum optimum 0.5 - 1
                                            animationDirection: 'horizontal', //动画方向
                                            callback: function () {
                                                console.log('anim finished');
                                            }
                                        });
                                        domLastic.animateItems();
                                        $($cancelItem).slideToggle(150, function () {
                                            $($cancelItem).remove();
                                            //aniamte ListItems
                                            domLastic.animateItems();
                                        });
                                        var href= window.location.href;
                                        window.location.replace(href);
                                    }

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "取消"
                    }
                }
            });
        }

        function deleteOrder(id) {
            var $orderItem = $("#orderItem" + id);
            $.confirm({
                title: '确认',
                content: '您确认要取消订单？',
                type: 'red',
                buttons: {
                    ok: {
                        text: "确定",
                        btnClass: 'btn-danger',
                        keys: ['enter'],
                        action: function () {
                            $.ajax({
                                method: "post",
                                url: "/order/deleteOrder",
                                data: {id: id},
                                dataType: "json",
                                success: function (data) {
                                    if (data==true){
                                        var href= window.location.href;
                                        window.location.replace(href);
                                    }

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "取消"
                    }
                }
            });
        }

        function toPay(id) {
            window.location.href="/order/toPayOrList?id="+id;
        }
    </script>
</head>
<body>
<div th:insert="~{top ::top}"></div>
<div class="container">
    <div class="row">
        <h1 class="title order_title">订单列表</h1>
    </div>

    <div class="row" id="order_table_div">
        <table id="order_table" border="0" cellpadding="0" cellspacing="0">
            <thead>
            <tr id="table_head">
                <th width="10%" class="tcol1">订单编号</th>
                <th width="30%" class="tcol1">买了什么</th>
                <th width="10%">订单状态</th>
                <th width="10%">金额</th>
                <th width="15%">收货地址</th>
                <th width="25%">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="order_item" th:id="'orderItem'+${order.id}" th:each="order:${orderLists.list}">

                <td>
                    <span th:text="${order.order_num}"></span>
                </td>
                <td style="text-align: center">
                    <div th:each="orderItem:${order.orderItems}">
                        <span th:text="${orderItem.amount} +X"></span>
                        <a th:href="'/books?bookId='+${orderItem.shopProduct.id}" target="_blank"
                           title="${orderDetail.bookName}" style="width: 50px;height: 50px">
                            <img th:src="${orderItem.shopProduct.productImg}" style="width: 40px"/>
                            <span class="orderList_product_name" th:text="${orderItem.shopProduct.productName}"></span>
                        </a>
                    </div>


                </td>
                <td>
                    <!--                    三目运算符嵌套 先判断是否支付，再判断是否完成-->
                    <span th:text=" ${order.order_status}=='4'?'完成订单':(${order.order_status}=='1'?'支付成功':'未支付')"></span>
                </td>
                <td>

                    <span class="red" th:text="'￥'+${order.order_total}"></span>
                </td>
                <td>
                    <!--                    <span th:text="${order.address.province}+${orderInfoDTO.address.city}+${orderInfoDTO.address.area}+${orderInfoDTO.address.detail_address}"></span>-->
                </td>
                <td>
                    <!--                    订单状态为0 未支付-->
                    <div th:id="'cancel'+${order.id}" th:if="${order.order_status.equals('0')}">
                        <button type="button" class="btn btn-info btn-xs" th:onclick="|toPay(${order.id})|">
                            去支付
                        </button>
                        <button  type="button" class="btn btn-xs btn-danger"
                                th:onclick="|cancelOrder(${order.id})|">
                            取消订单
                        </button>
                    </div>

                    <div  th:if="${order.order_status.equals('5')}">
                        <button  type="button" class="btn btn-xs btn-danger">
                            订单已取消
                        </button>
                    </div>

                    <!--                    订单状态为1 已支付-->
                    <div th:if="${order.order_status.equals('1')||order.order_status.equals('4')}">
                        <button th:id="'complete'+${order.id}" th:if="${ order.order_status.equals('1')}"
                                type="button" class="btn btn-xs btn-info"
                                th:onclick="|confirmReceiving(${order.id})|">
                            确认收货
                        </button>
                        <button type="button" class="btn btn-xs btn-info" onclick="lookShipping()">
                            查看物流
                        </button>
                        <button th:id="'delete'+${order.id}" type="button" class="btn btn-xs btn-danger" th:onclick="|deleteOrder(${order.id})|">
                            删除订单
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <!--显示分页信息-->
        <div class="modal-footer no-margin-top">
            <div class="col-md-5 pull-right no-margin">
                当前第 [[${orderLists.pageNum}]]页,共 [[${orderLists.pages}]] 页.一共 [[${orderLists.total}]] 条记录
            </div>
            <ul class="pagination pull-right no-margin" style="margin: 0px">
                <li th:if="${orderLists.hasPreviousPage}">
                    <a th:href="'?pageNum=1'">首页</a>
                </li>

                <li class="prev" th:if="${orderLists.hasPreviousPage}">
                    <a th:href="'?pageNum='+${orderLists.prePage}">
                        <i class="glyphicon glyphicon-menu-left"></i>
                    </a>
                </li>
                <!--遍历条数-->
                <li  th:each="nav:${orderLists.navigatepageNums}">
                    <a th:href="'?pageNum='+${nav}" th:text="${nav}" th:if="${nav != orderLists.pageNum}"></a>
                    <span style="font-weight: bold;background: #6faed9;" th:if="${nav == orderLists.pageNum}" th:text="${nav}" ></span>
                </li>

                <li class="next" th:if="${orderLists.hasNextPage}">
                    <a th:href="'?pageNum='+${orderLists.nextPage}">
                        <i class="glyphicon glyphicon-menu-right"></i>
                    </a>
                </li>

                <li>
                    <a th:href="'?pageNum='+${orderLists.pages}">尾页</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>