<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品列表</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bs.css}"/>
    <link rel="stylesheet" th:href="@{/css/product_list.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript">
        // $(function () {
        //     $('.pagination li').find('a').each(function () {
        //         if (this.href == document.location.href || document.location.href.search(this.href) >= 0) {
        //             $(this).parent().siblings('li').removeClass('active');
        //             $(this).parent().addClass('active');
        //         }
        //     });
        // });

        // function pageActive(num) {
        //     $.ready(function () {
        //         if (num==1) {
        //             // $("#page1").parent().removeClass('active');
        //             $("#page1").addClass('active');
        //         }
        //     })
        //
        // }
    </script>
</head>

<body>
<div th:insert="~{header::head}"></div>
<div class="container">
    <div class="search_tab">
        <ul>
            <li>全部商品</li>
        </ul>
    </div>
    <div class="crumbs">
        <div>
            <a href="/product/list">全部</a>
            <span>&gt;</span>
            <span class="search_word" th:if="${typeId}==1">纸尿裤</span>
            <span class="search_word" th:if="${typeId}==2">婴儿推车</span>
            <span class="search_word" th:if="${typeId}==3">奶瓶</span>
            <span class="search_word" th:if="${typeId}==4">婴儿床</span>
            <span class="search_word" th:if="${typeId}==5">奶粉</span>
        </div>
        <span class="total_search_book_count">
            共<em class="red" th:text="${productList.total}"></em>件商品
        </span>
    </div>
    <div class="search_result">
        <div class="shoplist">
            <ul class="shoplist_ul">

                <li class="product_list" th:each="product:${productList.list}">
                    <div style="height: 200px;width: 200px;border: 1px black solid;margin: 0 auto;">
                        <a th:href="'/product/info/'+${product.id}" target="_blank" th:title="${product.productName}">
                            <img th:src="${product.productImg}" th:alt="${product.productName}" width="200px"
                                 height="200px"/>
                        </a>
                    </div>
                    <div>
                        <p class="name">
                            <a th:href="'/product/info/'+${product.id}" th:title="${product.productName}"
                               target="_blank">
                                <span class="product_name" th:text="${product.productName}"></span>
                            </a>
                        </p>
                        <p class="price">
                            <span class="search_now_price"
                                  th:text="'￥'+${product.price.multiply(product.discount).setScale(2)}"></span>
                        </p>
                        <p class="price">
                            <span style="color: #C0C0C0;">定价：</span>
                            <span class="oprice" th:text="'￥'+${product.price}"></span>
                        </p>
                    </div>
                    <div class="shop_button">
                        <p class="bottom_p">
                            <a class="search_btn_cart" href="cart/addition?bookId=${bookInfo.bookId}&buyNum=1">加入购物车</a>
                            <a class="search_btn_collect" href="javascript:void(0);">购买</a>
                        </p>
                    </div>
                </li>

            </ul>
        </div>
        <!--显示分页信息-->
        <div class="modal-footer no-margin-top">
            <div class="col-md-5 pull-right no-margin">
                当前第 [[${productList.pageNum}]]页,共 [[${productList.pages}]] 页.一共 [[${productList.total}]] 条记录
            </div>
            <ul class="pagination pull-right no-margin" style="margin: 0px">
                <li th:if="${productList.hasPreviousPage}">
                    <a th:href="'?pageNum=1'">首页</a>
                </li>

                <li class="prev" th:if="${productList.hasPreviousPage}">
                    <a th:href="'?pageNum='+${productList.prePage}">
                        <i class="glyphicon glyphicon-menu-left"></i>
                    </a>
                </li>
                <!--遍历条数-->
                <li th:each="nav:${productList.navigatepageNums}">
                    <a th:href="'?pageNum='+${nav}" th:text="${nav}" th:if="${nav != productList.pageNum}"></a>
                    <span style="font-weight: bold;background: #6faed9;" th:if="${nav == productList.pageNum}" th:text="${nav}" ></span>
                </li>

                <li class="next" th:if="${productList.hasNextPage}">
                    <a th:href="'?pageNum='+${productList.nextPage}">
                        <i class="glyphicon glyphicon-menu-right"></i>
                    </a>
                </li>

                <li>
                    <a th:href="'?pageNum='+${productList.pages}">尾页</a>
                </li>
            </ul>
        </div>
<!--        <nav aria-label="Page navigation" style="text-align: center">-->
<!--            <ul class="pagination">-->
<!--                <li th:if="${productList.hasPreviousPage}">-->
<!--                    <a th:href="'?pageNum=1'" aria-label="Previous">-->
<!--                        <span aria-hidden="true">&laquo;</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li th:if="${productList.hasPreviousPage}"><a th:href="'?pageNum='+${productList.prePage}"><</a></li>-->
<!--                <li class="" th:each="nav : ${productList.navigatepageNums}" th:id="'page'+${nav}"-->
<!--                    th:onclick="|pageActive(${nav})|">-->
<!--                    <a th:href="'?pageNum='+${nav}" th:text="${nav}"-->
<!--                       th:if="${nav != productList.pageNum}">-->
<!--                    </a>-->
<!--                    <span style="font-weight: bold" th:if="${nav == productList.pageNum}" th:text="${nav}"></span>-->
<!--                </li>-->
<!--                <li th:if="${productList.hasNextPage}">-->
<!--                    <a th:href="'?pageNum='+${productList.nextPage}">-->
<!--                        >-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li th:if="${productList.hasNextPage}">-->
<!--                    <a th:href="'?pageNum='+${productList.pages}" aria-label="Next">-->
<!--                        <span aria-hidden="true">&raquo;</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </nav>-->
        <!--        <ul class="pagination pagination-lg">-->

        <!--            &lt;!&ndash;           上一页&ndash;&gt;-->
        <!--            &lt;!&ndash;            <c:if test="${bookPageInfo.isFirstPage}">&ndash;&gt;-->
        <!--            <li class="disabled"><a href="javascript:void(0);">前一页</a></li>-->
        <!--            &lt;!&ndash;            </c:if>&ndash;&gt;-->

        <!--            &lt;!&ndash;            <c:if test="${!bookPageInfo.isFirstPage}">&ndash;&gt;-->
        <!--            <li>-->
        <!--                <a href="book/list?keywords=${keywords}&cateId=${cateId}&page=${bookPageInfo.prePage}">前一页</a>-->
        <!--            </li>-->
        <!--            &lt;!&ndash;            </c:if>&ndash;&gt;-->

        <!--            &lt;!&ndash;           <c:forEach&ndash;&gt;-->
        <!--&lt;!&ndash;            begin="${bookPageInfo.pageNum}"&ndash;&gt;-->
        <!--&lt;!&ndash;            end="${bookPageInfo.pageNum+5 < bookPageInfo.pages ? bookPageInfo.pageNum+5 : bookPageInfo.pages }"&ndash;&gt;-->
        <!--&lt;!&ndash;            var="current">&ndash;&gt;-->
        <!--            <li-->
        <!--                    class="${(current == bookPageInfo.pageNum) ? 'active':''}">-->
        <!--                <a href="book/list?keyword=${keywords}&cateId=${cateId}&page=${current}">-->
        <!--                    ${current}-->
        <!--                </a>-->
        <!--            </li>-->
        <!--            &lt;!&ndash;        </c:forEach>&ndash;&gt;-->
        <!--            &lt;!&ndash;            <c:forEach&ndash;&gt;-->
        <!--            &lt;!&ndash;                    begin="${bookPageInfo.pageNum < 6 ? 1 :bookPageInfo.pageNum-5}"&ndash;&gt;-->
        <!--            &lt;!&ndash;                    end="${bookPageInfo.pages<6?bookPageInfo.pages:(bookPageInfo.pageNum < 6 ? 6 :bookPageInfo.pageNum) }"&ndash;&gt;-->
        <!--            &lt;!&ndash;                    var="current">&ndash;&gt;-->
        <!--            <li-->
        <!--                    class="${(current == bookPageInfo.pageNum) ? 'active':''}">-->
        <!--                <a href="book/list?keywords=${keywords}&cateId=${cateId}&page=${current}">-->
        <!--                    ${current}-->
        <!--                </a>-->
        <!--            </li>-->
        <!--            &lt;!&ndash;            </c:forEach>&ndash;&gt;-->
        <!--            &lt;!&ndash;            下一页&ndash;&gt;-->
        <!--            &lt;!&ndash;            <c:if test="${bookPageInfo.isLastPage}">&ndash;&gt;-->
        <!--            <li class="disabled"><a href="javascript:void(0);">下一页</a></li>-->
        <!--            &lt;!&ndash;            </c:if>&ndash;&gt;-->

        <!--            &lt;!&ndash;            <c:if test="${!bookPageInfo.isLastPage}">&ndash;&gt;-->
        <!--            <li><a href="book/list?keywords=${keywords}&cateId=${cateId}&page=${bookPageInfo.nextPage}">下一页</a>-->
        <!--            </li>-->
        <!--            &lt;!&ndash;            </c:if>&ndash;&gt;-->

        <!--            <li class="disabled"><a href="javascript:void(0);">共${bookPageInfo.pages}页</a></li>-->
        <!--        </ul>-->
    </div>
</div>
</body>
</html>