<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品列表</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bs.css}"/>
    <link rel="stylesheet" th:href="@{/css/product_list.css}"/>
    <link rel="stylesheet" th:href="@{/css/mc-dialoger.css}"/>
    <link rel="stylesheet" th:href="@{/js/sweetalert2/sweetalert2.min.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dialoger.js}"></script>
    <script type="text/javascript" th:src="@{/js/sweetalert2/sweetalert2.all.min.js}"></script>

    <script type="text/javascript">
        // $(function () {
        //     $('.pagination li').find('a').each(function () {
        //         if (this.href == document.location.href || document.location.href.search(this.href) >= 0) {
        //             $(this).parent().siblings('li').removeClass('active');
        //             $(this).parent().addClass('active');
        //         }
        //     });
        // });

        // function pageActive(num) {
        //     $.ready(function () {
        //         if (num==1) {
        //             // $("#page1").parent().removeClass('active');
        //             $("#page1").addClass('active');
        //         }
        //     })
        //
        // }
        function addCart(pid) {
            $.ajax({
                type: "post",
                url: "/product/cart/addition",
                data: {pid: pid,amount:1},
                success: function (data) {
                    if (data==true){
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: '添加成功',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }else {
                        dialoger.$toast({mes:'添加购物车失败',type:'error'});
                    }
                }
            })
            // location.href = "/cart/addition?pid=" + pid + "&buyNum=" + $("#buy_num").val();
        }
    </script>
</head>

<body>
<div th:insert="~{header::head}"></div>
<div class="container">
    <div class="search_tab">
        <ul>
            <li>全部商品</li>
        </ul>
    </div>
    <div class="crumbs">
        <div>
            <a href="/product/list">全部</a>
            <span>&gt;</span>
            <span class="search_word" th:if="${typeId}==1">纸尿裤</span>
            <span class="search_word" th:if="${typeId}==2">婴儿推车</span>
            <span class="search_word" th:if="${typeId}==3">奶瓶</span>
            <span class="search_word" th:if="${typeId}==4">婴儿床</span>
            <span class="search_word" th:if="${typeId}==5">奶粉</span>
        </div>
        <span class="total_search_book_count">
            共<em class="red" th:text="${productList.total}"></em>件商品
        </span>
    </div>
    <div class="search_result">
        <div class="shoplist">
            <ul class="shoplist_ul">

                <li class="product_list" th:each="product:${productList.list}">
                    <div style="height: 200px;width: 200px;border: 1px black solid;margin: 0 auto;">
                        <a th:href="'/product/info/'+${product.id}" target="_blank" th:title="${product.productName}">
                            <img th:src="${product.productImg}" th:alt="${product.productName}" width="200px"
                                 height="200px"/>
                        </a>
                    </div>
                    <div>
                        <p class="name">
                            <a th:href="'/product/info/'+${product.id}" th:title="${product.productName}"
                               target="_blank">
                                <span class="product_name" th:text="${product.productName}"></span>
                            </a>
                        </p>
                        <p class="price">
                            <span class="search_now_price"
                                  th:text="'￥'+${product.price.multiply(product.discount).setScale(2)}"></span>
                        </p>
                        <p class="price">
                            <span style="color: #C0C0C0;">定价：</span>
                            <span class="oprice" th:text="'￥'+${product.price}"></span>
                        </p>
                    </div>
                    <div class="shop_button">
                        <p class="bottom_p">
                            <a class="search_btn_cart" href="javascript:void(0);" th:onclick="|addCart(${product.detail_id})|">加入购物车</a>
                            <a class="search_btn_collect" href="javascript:void(0);">购买</a>
                        </p>
                    </div>
                </li>

            </ul>
        </div>
        <!--显示分页信息-->
        <div class="modal-footer no-margin-top">
            <div class="col-md-5 pull-right no-margin">
                当前第 [[${productList.pageNum}]]页,共 [[${productList.pages}]] 页.一共 [[${productList.total}]] 条记录
            </div>
            <ul class="pagination pull-right no-margin" style="margin: 0px">
                <li th:if="${productList.hasPreviousPage}">
                    <a th:href="'?pageNum=1&keywords='+${#httpServletRequest.getAttribute('keywords')}">首页</a>
                </li>

                <li class="prev" th:if="${productList.hasPreviousPage}">
                    <a th:href="'?pageNum='+${productList.prePage}+'&keywords='+${#httpServletRequest.getAttribute('keywords')}">
                        <i class="glyphicon glyphicon-menu-left"></i>
                    </a>
                </li>
                <!--遍历条数-->
                <li th:each="nav:${productList.navigatepageNums}">
                    <a th:href="'?pageNum='+${nav}+'&keywords='+${#httpServletRequest.getAttribute('keywords')}" th:text="${nav}" th:if="${nav != productList.pageNum}"></a>
                    <span style="font-weight: bold;background: #6faed9;" th:if="${nav == productList.pageNum}" th:text="${nav}" ></span>
                </li>

                <li class="next" th:if="${productList.hasNextPage}">
                    <a th:href="'?pageNum='+${productList.nextPage}+'&keywords='+${#httpServletRequest.getAttribute('keywords')}">
                        <i class="glyphicon glyphicon-menu-right"></i>
                    </a>
                </li>

                <li>
                    <a th:href="'?pageNum='+${productList.pages}+'&keywords='+${#httpServletRequest.getAttribute('keywords')}">尾页</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>