<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div id="header" th:fragment="top">
    <ul class="nav nav-pills " style="display: inline-block;margin-right: 6%">
        <li role="presentation">
            <a class="navFont" href="/">主页</a>
        </li>
        <li role="presentation">
            <a class="navFont" th:href="@{'/product/cart?username='+${#httpServletRequest.remoteUser}}">购物车</a>
        </li>
        <li role="presentation">
            <a class="navFont" th:if="${#httpServletRequest.session.getAttribute('username')==null}" href="/user/login">登录</a>
            <a class="dropdown-toggle navFont" data-toggle="dropdown" th:if="${#httpServletRequest.session.getAttribute('username')!=null}" href="/user/login" role="button"
               aria-haspopup="true"
               aria-expanded="false" th:text="${#httpSession.getAttribute('nickname')}">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li role="presentation">
                    <a href="#">个人信息</a>
                </li>
                <li role="presentation">
                    <a href="/user/logout">退出登录</a>
                </li>
            </ul>
        </li>

    </ul>
</div>
</body>
</html>
