<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmx.mall.mapper.IAddressMapper">


    <select id="findAddressByUsername" resultType="com.cmx.mall.model.Address">

        select * from shop_address  where user_id=#{username}

    </select>

</mapper>