<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmx.mall.mapper.ILoginMapper">
<resultMap id="userMap" type="com.cmx.mall.dto.UserDTO">
    <id property="id" column="id"></id>
    <result property="username" column="username"></result>
    <result property="password" column="password"></result>
    <result property="nickname" column="nickname"></result>
    <result property="gender" column="gender"></result>
    <result property="phone" column="phone"></result>
    <result property="email" column="email"></result>
    <result property="detail_address" column="detail_address"></result>
    <association property="role" javaType="com.cmx.mall.model.Role">
        <id property="id" column="rid"></id>
        <result property="name" column="name"></result>
        <result property="sn" column="sn"></result>
    </association>
</resultMap>

<select id="checkUser" resultMap="userMap">
    select su.*,r.id rid,r.name,r.sn from shop_user su,role r where su.roleId=r.id and username=#{s};
</select>
</mapper>