<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmx.mall.mapper.IProductInfoMapper">
    <resultMap id="productMap" type="com.cmx.mall.dto.ProductDTO">
        <id property="id" column="id"/>
        <result property="productName" column="productName"/>
        <result property="productImg" column="productImg"/>
        <result property="typeId" column="typeId"/>
        <result property="price" column="price"/>
        <result property="description" column="description"/>
        <result property="amount" column="amount"/>
        <result property="isShelf" column="isShelf"/>
        <result property="discount" column="discount"/>
        <result property="detail_id" column="detail_id"/>
        <association property="productDetails" javaType="com.cmx.mall.model.ProductDetails">
            <id property="did" column="did"/>
            <result property="d_productName" column="d_productName"/>
            <result property="d_brand" column="d_brand"/>
            <result property="d_age" column="d_age"/>
            <result property="d_placeOrigin" column="d_placeOrigin"/>
            <result property="d_gender" column="d_gender"/>
            <result property="d_weigth" column="d_weigth"/>
            <result property="d_manufacturerContact" column="d_manufacturerContact"/>
            <result property="d_manufacturerAddress" column="d_manufacturerAddress"/>
            <result property="d_manufacturerName" column="d_manufacturerName"/>
        </association>
        <association property="category" javaType="com.cmx.mall.model.Category">
            <id property="id" column="id"/>
            <result property="type" column="type"/>
        </association>
    </resultMap>


    <select id="findNewProductById" resultMap="productMap">
        SELECT p.*, pd.*
        FROM shop_newproduct n
                     JOIN shop_product p on n.pid = p.id
                     JOIN shop_productdetails pd on p.detail_id = pd.did
        WHERE n.id = #{id};
    </select>

    <select id="findRecommendedById" resultMap="productMap">
        SELECT p.*, pd.*
        FROM shop_recommended r
                     JOIN shop_product p on r.pid = p.id
                     JOIN shop_productdetails pd on p.detail_id = pd.did
        WHERE r.id = #{id};
    </select>

    <select id="countProduct" resultType="int">
        select count(*)
        from shop_product;
    </select>

    <select id="findProductByRandom" resultType="com.cmx.mall.model.ShopProduct">
        select *
        from shop_product
        <where>
            id in
            <foreach item="item" collection="list" separator="," open="(" close=")" index="">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="findProductById" resultMap="productMap">
        select sp.*, spd.*, spc.id, spc.type
        from shop_product sp,
             shop_productdetails spd,
             shop_productcategory spc
        WHERE sp.typeId = spc.id
          AND sp.detail_id = spd.did
          AND sp.id = #{id};
    </select>

    <!--查询种类-->
    <select id="findCategory" resultType="com.cmx.mall.model.Category">
        select *
        from shop_productcategory
    </select>
    <delete id="deleteById">
        delete
        from shop_product
        where id = #{id}
    </delete>
</mapper>