<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmx.mall.mapper.IUserMapper">
        <select id="findUserByUsername" resultType="com.cmx.mall.model.User">
            select * from shop_user where username=#{username};
        </select>
</mapper>